<main class="layout-1col cols-6">
    <div class="place-self-center">
        <div class="flex justify-center">
            <h1 class="title-decorator my-12"><%= t('decidim.errors.internal_server_error.title') %></h1>
        </div>

        <div class="mt-6">
            <%= t('decidim.errors.internal_server_error.try_later').html_safe %>
        </div>
    </div>
</main>
