SENTRY_DSN=""

DATABASE_NAME=''

AWS_STORAGE_ACCESS_ID = ""
AWS_STORAGE_ACCESS_KEY = ""
AWS_STORAGE_ACCESS_BUCKET_NAME = ""

SMTP_ADDRESS=''
SMTP_PORT=0
SMTP_DOMAIN=''
SMTP_USERNAME=''
SMTP_PASSWORD=''

AD_HOST=""
AD_PORT=0
AD_USER=""
AD_PASSWORD=""
AD_BASE_DN=""
AD_ATTR_LOGIN=""
AD_ATTR_FIRSTNAME=""
AD_ATTR_LASTNAME=""
AD_ATTR_MAIL=""
AD_BASE_FILTER=""

REDIS_SERVER_URL=''

MATOMO_HOST=""

OSM_URL=""
NOMINATIM_URL=""

PEUM_CLIENT_ID=""
PEUM_CLIENT_SECRET=""
PEUM_HOST=""
PEUM_CALLBACK_HOST=""

REST_API_TOKEN=""

WS_NOTIFICATION_PASSWORD=''
WS_NOTIFICATION_LOGIN=''
WS_NOTIFICATION_WSDL=''

WS_SIGNUM_LOGIN=""
WS_SIGNUM_PASSWORD=""
WS_SIGNUM_WSDL=''
WS_SIGNUM_STUDY_NOTE_URZ_ID=""
WS_GENERAL_PLAN_REQUEST_URZ_ID=""