<section class="home-register-cta home__section wrapper-home">
  <div class="home-register-cta__container">
    <div class="home-register-cta__wrapper">
      <div class="home-register-cta__text">
        <h2 class="heading3">
          <%= header %>
        </h2>

        <div>
          <%= description %>
        </div>
      </div>

      <div class="home-register-cta__button"> 
        <%= link_to action_title, decidim.new_user_registration_path, class: "button button__primary button__lg" %>
      </div>  
    </div>
  </div>
</section>
