<div id="new-user_question-box" class="card card--user_question_form add-comment mt-8">
  <button class="close-button close-second-step-new-remark-button-js" data-close="" aria-label="zamknij" type="button" data-close>
    <span aria-hidden="true">×</span>
  </button>

  <div class="card__content grow flex flex-col justify-center items-center">
    <h4 class="h4 text-center">
      <%= t('decidim.expert_questions.user_questions.full_edit.header') %>
    </h4>

    <p class="mt-4 text-center">
      <%= t('decidim.expert_questions.user_questions.full_edit.note').html_safe %>
    </p>
  </div>
</div>