<div class="row" id="new-user_question-box">
  <div class="columns mediumlarge-12 large-12">
    <div class="column">
      <div class="card card--remark_form add-comment">
        <button class='close-button' aria-label='Zamknij' type='button' data-close> <span aria-hidden='true'>&times;</span></button>
        
        <div class="card__header">
          <h2 id="new-remark-header" class="section-heading"></h2>
        </div>
        <div class="card__content">
          <p class="remark-success">Dziękujemy za pytanie!</p>
        </div>
      </div>
    </div>
  </div>
</div>
