<% if request.path =~ /user_questions\/\d+/ %>
  <div class="callout secondary">
    <h5>Wyświetlasz teraz pojedyncze pytanie</h5>
    <p>
      <a href="<%= main_component_path(current_component) %>#subcontent">Zobacz pozostałe pytania</a>.
    </p>
  </div>
<% end %>

<%= render paginated_user_questions %>
<%= decidim_paginate paginated_user_questions %>
