<tr data-id="<%= banned_word.id %>">
  <td>
    <%= banned_word.name %>
  </td>
  <td class="table-list__actions">
    <% if allowed_to? :manage, :banned_words %>
      <%= icon_link_to "pencil", edit_banned_word_path(banned_word), t("actions.edit", scope: "decidim.admin_extended.banned_words"), class: "action-icon--edit" %>
      <%= icon_link_to "circle-x", banned_word, t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
    <% end %>
  </td>
</tr>
