<% add_decidim_page_title(t("banned_words.title", scope: "decidim.admin")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t("banned_words.title", scope: "decidim.admin") %>
      <% if allowed_to? :manage, :banned_words %>
        <%= link_to t("actions.add", scope: "decidim.admin"), new_banned_word_path, class: "button button__sm button__secondary" %>
      <% end %>
    </h1>
  </div>

  <div class="table-scroll">
    <table class="table-list">
      <thead>
      <tr>
        <th><%= t(".headers.name") %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <%= render partial: "banned_word", collection: banned_words %>
      </tbody>
    </table>
  </div>
</div>
