<div class="update-comment text-center">
  <button class="close-button" data-close aria-label="<%= close_modal %>" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="field">
    <p class="comment-success"><%= message.html_safe %></p>
  </div>
</div>
