#comments {
  margin-top: 40px;
}

.comment {
  &.admin-response {
    border: 1px solid var(--primary);
  }
}

.comment-wrapper {
  margin-top: 36px;
}

.custom-form-wrapper {
  display: flex;
  align-items: center;

  select {
    margin-right: 20px;
  }
}

.comment-reply .comment,
.comment .comment-reply {
  padding-right: 15px;
}

.comment__form-submit,
.comment__form-submit-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.comment__form-submit-custom {
  justify-content: flex-end;
}

.comment__form-submit p span a {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(var(--secondary-rgb) / 1);
  color: rgb(var(--secondary-rgb) / var(--tw-text-opacity, 1));
  text-decoration-line: underline;
}

.comment {
  &__content p {
    font-size: 18px;
    line-height: 23px;
  }
}

.remaining-character-count {
  color: rgb(62 76 92 / var(--tw-text-opacity, 1));
  font-size: 14px;
}

.signature-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  gap: 12px;

  p strong {
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(var(--secondary-rgb) / 1);
    color: rgb(var(--secondary-rgb) / var(--tw-text-opacity, 1));
    text-decoration-line: underline;
  }

  .input-character-counter {
    margin-top: 0 !important;

    input {
      width: min(100%, 330px);
    }
  }

  .input-character-counter .input-character-counter__container span {
    display: none;
  }

  .form-error {
    order: 2;
  }
}

.comment__actions {
  .button.button__sm.button__text-secondary {
    outline: none;
  }
}

.section-heading-note {
  color: #3d393c;
}

.close-icon {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.MultiFile-list {
  padding: 10px 0;
}

.MultiFile-list .MultiFile-label:last-child {
  border-bottom: none;
}

[id^="dropdown-trigger-toggle-context-menu-"] {
  font-weight: bold;
}

.custom-link {
  text-decoration: none;
}

.custom-link span {
  display: none;
}

.MultiFile-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.MultiFile-label span {
  overflow: hidden;
  margin-right: 1rem;
}

.comment-form {
  width: 100%;
}

.MultiFile-remove,
.remove-file-btn {
  padding: 0.375rem 1rem;
  line-height: 1.4;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important;
  background-color: rgb(
    var(--secondary-rgb) / var(--tw-bg-opacity, 1)
  ) !important;
  gap: 0.375rem;
  font-size: 14px !important;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: transparent;
  text-align: center;
  order: 2;
  font-weight: 600 !important;
}

.show-for-sr {
  display: none !important;
}

.detail-info-container {
  border-color: #eaeaea !important;
  border-width: 1px;
  border-style: solid;
  margin-top: 20px;
  background-color: #fff;
  background: #fafafa;
  padding: 1rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 300px;
}

.custom-file-wrapper {
  position: relative;
  cursor: pointer;

  span {
    margin-top: 10px;
  }
}

.custom-file-button {
  position: relative;
  z-index: 2;
  cursor: pointer;
  color: rgb(59, 122, 147);
  height: 18px;
  cursor: pointer;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-position: left center;
  margin: 0px;

  img {
    margin-right: 5px;
  }
}

.custom-reply-wrapper {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}

.custom-header-wrapper {
  display: inline-flex;
  align-items: center;

  svg {
    margin-right: 10px;
  }
}

.new_comment {
  width: 100%;
}

.custom-modal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;

  input[type="checkbox"] {
    margin-top: 0;
    margin-left: auto;
  }
}

.custom-modal-item .file-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.custom-modal-item label {
  flex-shrink: 0;
}

.custom-file-info {
  margin-left: 1rem;
}

.custom-file-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 130px;
  height: 100%;
  cursor: pointer;
  z-index: 3;
}

.custom-form-wrapper {
  justify-content: center;
  margin-top: 20px;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.comment__form-submit-custom {
  width: 100%;
}

.comments-count.inline-block.align-middle {
  font-size: 18px;
  vertical-align: baseline !important;
}

.bottom {
  margin-bottom: 13px;
}

.remarks__footer-grid {
  display: grid;

  .remark__votes {
    @apply justify-self-end;

    .remark__votes--up {
      @apply mr-2;
    }

    .button_to:first-child,
    button:first-child,
    button:nth-child(2),
    .button_to:nth-child(2) {
      svg:first-child {
        @apply block;
      }

      svg:nth-child(2) {
        @apply hidden;
      }

      .is-vote-selected {
        svg:first-child {
          @apply hidden;
        }

        svg:nth-child(2) {
          @apply block;
        }
      }

      .is-vote-notselected {
        svg:first-child {
          @apply block;
        }

        svg:nth-child(2) {
          @apply hidden;
        }
      }
    }

    .button_to:nth-child(2) {
      svg:first-child {
        @apply block;
      }

      svg:nth-child(2) {
        @apply hidden;
      }

      .is-vote-selected {
        svg:first-child {
          @apply hidden;
        }

        svg:nth-child(2) {
          @apply block;
        }
      }

      .is-vote-notselected {
        svg:first-child {
          @apply block;
        }

        svg:nth-child(2) {
          @apply hidden;
        }
      }
    }

    .remark__votes--count {
      @apply text-gray-2 text-sm;
    }

    .button_to {
      @apply inline-block;
    }

    /* override button default styles */
    .button[disabled] {
      @apply border-0 bg-transparent;
    }
  }
}

.comments {
  .author__avatar-container {
    width: 24px;
    height: 24px;
  }
}

// unify moderated or deleted comment in all components

.comment-wrapper,
.commentable-root {
  &:has(.comment__moderated),
  &:has(.comment__deleted) {
    border: 2px solid rgb(243 244 247 / var(--tw-border-opacity, 1)) !important;
    border-radius: 8px !important;
    padding: 12px 12px 12px 24px !important;
  }

  .comment__moderated,
  .comment__deleted {
    color: rgba(107, 114, 128, 0.8) !important;
  }
}
