<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <%= link_to t("decidim.pages_extended.page.show.view"), resource_path, class: "card__button button--sc light button small" %>
  </div>
</div>
