<section class="home__section wrapper-home latest-informations">
  <div class="home__section-header">
    <h2 class="home__section-title">
      <%= t("decidim.news.content_blocks.latest_informations.name") %>
    </h2>
    <%= link_to all_path, class: "button button__sm button__text-secondary" do %>
      Zobacz wszystkie
      <%= icon "arrow-right-line", class: "fill-current" %>
    <% end %>
  </div>
  <div class="card__grid-home">
    <% latest_informations.each do |information| %>
      <%= card_for information, size: :g, highlight: true %>
    <% end %>
  </div>
</section>