<div class="row column">
  <%= f.text_field :title %>
</div>

<div class="row column">
  <%= f.text_field :subtitle %>
</div>

<div class="row">
  <div class="columns xlarge-6">
    <%= f.file_field :banner_img %>
  </div>
</div>

 <div class="row column">
   <%= f.text_field :banner_img_alt %>
 </div>
