<div class="form__wrapper">
  <div class="card pt-4">
    <div class="row column">
      <%= form.text_field :title %>
    </div>

    <div class="row column">
      <%= form.editor :description %>
    </div>
  </div>
</div>

<%= append_javascript_pack_tag "admin_extended_hero_section_banner" %>
