<div class="my_followed_component">
  <div class="title"><a href="<%= resource_url(component) %>"><%= participatory_space_title(component) %></a></div>
  <div class="description"><%= component_description(component) %></div>
  <div class="source"><strong><%= component_source_name(component) %></strong></div>
</div>
