<% if params[:page].blank? || params[:page] == '1' %>
  <% highlighted_cards.each do |information| %>
    <%= card_for information, size: :l, highlight: true, length: 1200 %>
  <% end %>

  <% if remaining_cards.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 p-2 ">
      <% remaining_cards.each do |information| %>
        <%= card_for information, size: :g, highlight: true, length: 210 %>
      <% end %>
    </div>
  <% end %>
<% end %>


