<% provide(:title, hero_section_public.title) %>

<% add_decidim_meta_tags(
     {
       title: hero_section_public.title,
       description: hero_section_public.description.presence || "Strona z informacjami dotyczącymi Konsultacji społecznych w Warszawie",
       url: decidim_news.informations_url
     }) %>

<% edit_link(
     decidim_news.informations_path,
     :index,
     :information
   ) %>

<main class="layout-1col cols-10 py-10">
  <div id="news" class="card-grid <%= "first-page" if params[:page].blank? || params[:page] == "1" %>">
    <%= render partial: "informations" %>
  </div>

  <%= decidim_paginate @collection %>
</main>