<div class="wrapper">
  <div class="row">
    <div class="columns medium-9 medium-offset-3">
      <%= profile_tabs %>
    </div>
  </div>
  <div class="row">
    <div class="columns small-10 small-centered medium-6 medium-centered large-4 large-centered">
      <%= cell "decidim/profile_sidebar", profile_holder %>
    </div>
  </div>
</div>
