<p>
  Dzień dobry,
</p>

<p>
  Dziękujemy za zgłoszenie uwagi do studium. W załączniku znajdziesz potwierdzenie zgłoszenia uwagi.
</p>

<p>
  Z pozdrowieniami,
  <br>
  Zespół Konsultacji Społecznych
</p>
