<div class="author-data__main">
  <div class="author author--inline">
    <span class="author__name">
      <span class="caps slim"><%= t(".applicant") %>:</span>
      <%= model.applicant %>
    </span>
  </div>
</div>
