<div class="card__footer card__footer--spaces top-bordered text-right">
  <%= link_to t("decidim.consultation_requests.consultation_requests.show.view") + "<span class='show-for-sr'> o: " + model.title + "</span>", resource_path, class: 'card__button button button--sc small dark button-primary' %>
</div>
