<div class="participatory-space">
  <div class="row">
    <div class="columns mediumlarge-9 small-12">
      <div class="follow-box">
        <%= follow_button_for(model) %>
        <span>
          <%= t('.follow_document') %>
        </span>
      </div>
      <%= show_comments %>
    </div>
  </div>
</div>


