<% add_decidim_page_title(t("decidim.admin.titles.info_articles")) %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t("info_articles", scope: "decidim.admin.titles") %>
    <% if allowed_to?(:update, :organization, organization: current_organization) %>
      <%= link_to "Nowy wpis", [:new, :admin, :info_article], class: "button button__sm button__secondary expanded small new" %>
    <% end %>
  </h1>
</div>

<% @article_categories.each do |article_category| %>
  <%= render partial: "article_category", locals: { articles: article_category.articles.sorted_by_weight, article_category: } %>
<% end %>

<% if @orphan_articles.any? %>
  <div class="mt-4">
    <%= render partial: "article_category", locals: { articles: @orphan_articles, article_category: nil } %>
  </div>
<% end %>
