<div class="filters__section">
  <div class="fcell">
    <ul class="dropdown menu" data-dropdown-menu data-close-on-click-inside="false">
      <li>
        <a href="#" class="dropdown button button__sm button__secondary">
          <%= t("filter_label", scope: "decidim.admin.filters") %>
          <%= icon "arrow-down-s-line", class: "dropdown-filter-icon" %>
        </a>
        <%= dropdown_submenu(submenu_options_tree(:custom_ai)) %>
      </li>
    </ul>
  </div>
    </div>

<div class="fcell flex items-center gap-2" data-applied-filters-tags>
  <%= applied_filters_tags(:custom_ai) %>
</div>
<br>