<div data-map="area_map_mobile" class="map area-map"></div>
<%= hidden_field_tag 'coordinatesA', current_participatory_space.area_map_coordinates %>
<%= append_javascript_pack_tag "area_polygon_map" %>
