<% add_decidim_meta_tags(
  title: translated_attribute(@page.title),
  description: translated_attribute(@page.body),
  url: page_url(@page)
) %>

<main class="layout-1col cols-10">
  <%= render partial: 'decidim/shared/component_settings_help_section' %>

  <% if @pages && @pages.count > 1 %>
    <%= render partial: "decidim/pages_extended/tabbed", locals: {
      title: translated_attribute(@page.component.name),
      description: nil,
      page: @page,
      pages: @pages
    } %>
  <% else %>
    <%= render partial: "decidim/pages_extended/standalone", locals: {
      title: translated_attribute(@page.title),
      description: nil,
      page: @page
    } %>
  <% end %>
</main>