<div class="card__footer card__footer--spaces">
  <div class="row"> 
    <div class="columns medium-12 text-right">
      <%= link_to t("decidim.news.informations.show.view") + "<span class='show-for-sr'> o: " + model.title + "</span>", resource_path %>
    </div>
  </div>
</div>
