<div class="card__footer meeting-footer">
  <div class="strong">
    <%= meeting_type %>
  </div>

  <div>
    <%# hidden add to calendar link until the feature will be shipped %>
    <%#= link_to t('.add_to_calendar'), '', class: 'link' %>
  </div>
</div>
