<div class="consultation-decor">

  <div class="left">
    <div class="colored-box"></div>
  </div>

  <div class="right"></div>

  <% if highlited.present? %>
    <div class="bottom-right"></div>
  <% end %>
</div>