<% if stats.any? %>
  <section class="extended home-section home-statistics-custom" id="statistics">
    <div class="wrapper-home">
      <div class="row column text-center">
        <h2 class="section-heading"><%= t("decidim.pages.home.statistics_custom.headline") %></h2>
      </div>
      <div class="row bordered">
        <div class="columns small-centered mediumlarge-10 large-8">
          <div class="home-pam text-centered">
            <%= highlited(true) %>
            <%= highlited(false) %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>