<%= filter_form_for filter do |form| %>
  <div class="filter-search filter-container">
    <%= form.search_field :search_text, label: false, class: "input-group-field", placeholder: t(".search"), title: t(".search"), data: { disable_dynamic_change: true } %>
    <button type="submit" class="button" aria-controls="user_questions" aria-label="<%= t(".search") %>">
      <%= icon "search-line", aria_hidden: true %>
    </button>
  </div>
<% end %>
