<div id="new-remark-box" class="card card--remark_form add-comment">
  <button class="close-button close-second-step-new-remark-button-js" data-close="" aria-label="zamknij" type="button">
    <span aria-hidden="true">×</span>
  </button>

  <div class="card__content grow flex flex-col justify-center items-center">
    <h4 class="h4 text-center">
      <%= t('decidim.remarks.remarks.full_edit.header') %>
    </h4>

    <p class="mt-4 text-center">
      <%= t('decidim.remarks.remarks.full_edit.note').html_safe %>
    </p>
  </div>
</div>