<div class="row" id="new-remark-box">
  <div class="columns mediumlarge-12 large-12">
    <div class="column">
      <div class="card card--remark_form add-comment">
        <div class="card__header">
          <h2 id="new-remark-header" class="section-heading"></h2>
        </div>
        <div class="card__content">
          <p class="remark-success">Dziękujemy za dodanie komentarza!</p>
        </div>
      </div>
    </div>
  </div>
</div>
