<% provide(:title, hero_section_public.title) %>

<% add_decidim_meta_tags(
     {
       title: hero_section_public.title,
       description: hero_section_public.description.presence || "Lista złożonych wniosków o konsultacje społeczne",
       url: decidim_consultation_requests.consultation_requests_url
     }) %>

<% edit_link(
     decidim_consultation_requests.admin_consultation_requests_path,
     :update,
     :organization,
     organization: current_organization
   ) %>
 

<main class="layout-1col cols-10 py-10"> 
  <section class="consultation-requests">  
    <h2 class="show-for-sr">Złożone wnioski</h2>
    
    <div id="consultation_requests" class="consultation-requests__list" role="list">
      <% @consultation_requests.each do |consultation_request| %>
        <%= cell "decidim/consultation_requests/consultation_request", consultation_request, {length: 250} %>
      <% end %>
    </div>

    <%= decidim_paginate @consultation_requests %> 
  </section>
</main>
