<div class="participatory-text-index layout-1col cols-10 py-10 min-h-[900px]">
  <div id="proposals">
    <% custom_proposals.each do |custom_proposal| %>
      <%= render partial: "custom_proposal", locals: { custom_proposal: } %>
    <% end %>
  </div>
</div>
