<div class="participatory-text-index" style="margin-left: auto; margin-right: auto; margin-bottom: 40px; margin-top: 80px; min-height: 900px;">
  <div id="proposals" style="display: flex; align-items: center; flex-direction: column;">
    <%= render partial: "custom_proposal", locals: { custom_proposal: custom_proposal } %>
  </div>
</div>
