<div class="field">
  <%= f.password_field :password,
                       help_text: t("decidim.devise.registrations.new.password_help", minimun_characters: NOBSPW.configuration.min_password_length),
                       required: true,
                       class: 'password-field-js',
                       "aria-required": true,
                       aria: { describedby: 'requirements' }, 
                       autocomplete: "new-password" %>
  <span class="form-error">To pole jest wymagane</span>
  
  <div class="password-rules">
    <strong>Bezpieczne hasło powinno zawierać:</strong>
    <ul id="requirements" role="list">
      <li id="length"><span class="password-rule-result"></span>Minimum 10 znaków<span class="password-rule-result-text show-for-sr"></span></li>
      <li id="lowercase"><span class="password-rule-result"></span>Małą literę<span class="password-rule-result-text show-for-sr"></span></li>
      <li id="uppercase"><span class="password-rule-result"></span>Wielką literę<span class="password-rule-result-text show-for-sr"></span></li>
      <li id="number"><span class="password-rule-result"></span>Cyfrę<span class="password-rule-result-text show-for-sr"></span></li>
      <li id="special"><span class="password-rule-result"></span>Znak specjalny<span class="password-rule-result-text show-for-sr"></span></li>
    </ul>
  </div>
</div>

<div class="field">
  <%= f.password_field :password_confirmation, "aria-required": true, required: true, class: 'password-confirmation-field-js', autocomplete: "new-password" %>
  <span class="form-error">To pole jest wymagane</span>
</div>

<%= javascript_include_tag "decidim/users_extended/password-strength" %>

<%= nonced_javascript_tag do %>
  let passwordField = $(".password-field-js"); 
  let passwordConfField = $(".password-confirmation-field-js"); 

  checkPasswordStrength();
  passwordField.keyup(checkPasswordStrength);

  checkPasswordConfirmation();
  passwordConfField.keyup(checkPasswordConfirmation);
<% end %>