<%= dynamic_map_for_meetings meetings_data_for_map(meetings), { class: "map full-width meetings-map area-map", id: map_id } do %>
  <template id="marker-popup">
    <div class="map-info__content">
      <div class="map-popup-header">
        <a href="${link}" class="meeting-title">
          <h3>${title}</h3>
        </a>
      </div>
      <div id="bodyContent">
        ${processTitle}
        <span class="scope-name">${scope_name}</span>
        <span class="date-line">${startDate}, ${weekDay} ${startTime}</span>
        <div>
          <strong class="caps">${meetingTypeTr}</strong>
          &nbsp;/&nbsp;
          <strong>${location}</strong>
          {{html locationDetails}}
        </div>
      </div>
    </div>
  </template>
<% end.html_safe %>
