<div class="form__wrapper">
  <div class="card pt-4">
    <div class="row column">
      <%= form.translated :text_field, :title, autofocus: true, label: t("models.pages.title", scope: "decidim.pages.admin") %>
      <%#= form.translated :title, label: t("models.pages.title", scope: "decidim.pages.admin") %>
    </div>
    <div class="row column">
      <%= form.translated :editor, :body, toolbar: :full, lines: 30, label: t("models.pages.body", scope: "decidim.pages.admin") %>
    </div>
    <div class="row column">
      <%= form.number_field :weight %>
    </div>
  </div>

  <div class="card">
    <%= render partial: 'decidim/repository/admin/galleries/new_or_present_gallery', locals: { form: form } %>
  </div>
</div>
