<div class="column large-12 bg-white" id="<%= dom_id(model) %>">
  <div class="card forum-article show">
    <div class="card__content row columns">
      <div class="column large-12">
        <div class="card__header mb-s">
          <%= render :author %>
        </div>

        <div class="card__text">
          <div class="card__text--paragraph">
            <%= description %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
