<p>
  Szanowni Państwo,
</p>
<p>
  złożyli Państwo uwagę do projektu Planu ogólnego m.st. Warszawy za pomocą formularza online na stronie <a href="https://konsultacje.um.warszawa.pl">konsultacje.um.warszawa.pl</a>.
</p>
<p>
  Z powodu błędu w systemie nie otrzymali Państwo automatycznego potwierdzenia, za co przepraszamy. Błąd został już naprawiony.
</p>
<p>
  Państwa uwaga jest przyjęta i będziemy ją rozpatrywać. W załączeniu przesyłamy potwierdzenie jej złożenia.
</p>
<p>
  Dziękujemy za udział w konsultacjach i przepraszamy za niedogodności!
</p>
<p>
  Z poważaniem,<br>
  Urząd Miasta Stołecznego Warszawy
</p>
