.custom-user-avatar {
  border-radius: 2px;
  border: 1px solid #eaeaea;
  padding: 1rem 1rem 0.75rem 1rem;
  display: flex;
  height: 190px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: #f8f8f8;
    border-top: 1px solid #eaeaea;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    z-index: 0;
  }

  >button.wrapping-image {
    z-index: 1;
    order: 1;
    height: 150px;
    width: 150px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &:hover {
      &::after {
        z-index: 2;
        position: absolute;
        content: "Dodaj zdjęcie";
        background-color: rgba(28, 124, 151, 0.9);
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
      }
    }

    img {
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .help-text {
    z-index: 1;
    order: 2;
    margin-top: auto;
    width: 65%;

    p {
      display: none;
    }

    li {
      font-style: normal;

      &:nth-child(1),
      &:nth-child(2) {
        display: none;
      }
    }
  }

  label:not(.avatar-file-controls > div > label),
  input:not(.avatar-file-controls > div > input) {
    display: none;
  }

  .avatar-file-controls {
    margin-top: auto;
    order: 3;
    display: flex;
    align-items: baseline;
    z-index: 1;

    [type="checkbox"] {
      border: 1px solid #707070;
      width: 18px;
      height: 18px;
      margin-bottom: unset;
    }

    label {
      color: var(--primary);
      font-size: 1rem;
      margin-right: 1.5rem;
    }

    .checkboxed {
      display: flex;
      align-items: baseline;
    }

    .avatar-filename {
      margin-right: 1rem;
      max-width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:empty {
        margin-right: unset;
      }
    }

    .avatar-file-button {
      color: var(--primary);
      background-color: unset;
      background-image: asset_url("attachment-icon.svg");
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 25px;
      margin-right: 1.5rem;
      cursor: pointer;
    }
  }
}

.account-password {
  border: 1px solid #eaeaea;
  padding: 2rem;
  background-color: #f8f8f8;
  margin-bottom: 1rem;

  p {
    margin-bottom: unset;
  }

  .change-password {
    font-weight: bold;
  }

  #passwordChange {
    margin-top: 1rem;
  }
}

.edit_user {
  button[type="submit"] {
    text-transform: uppercase;
    font-weight: bold;
    min-width: 250px;
    max-width: 100%;
    text-align: center;
  }

  label {
    font-size: 1rem;
  }

  .equal-columns {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    >* {
      flex-grow: 1;
    }
  }

  .switch.tiny {
    height: auto;

    .switch-label {
      padding: 5px 0;
    }
  }
}

.main-container:not(.tabbed-container) {
  border: unset;

  .side-panel {
    border: 1px solid #e8e8e8;
  }

  .side-panel__tabs .tabs-title.is-active>[role="tab"],
  .side-panel__tabs .tabs-title.is-active>a {
    font-weight: bold;
    color: black;
  }

  .tabs-title>a {
    padding: 1rem 1.5rem;
  }

  .main-container__content {
    padding: 0 0 0 4rem;
  }
}

#registration_user_name,
#user_name {
  padding-left: 50px;
}

#registration_user_name_characters {
  margin-top: -10px;
}

#user_name_characters {
  text-align: right;
  margin-bottom: -18px;
  margin-top: -12px;
  font-weight: normal;
}

#user_zip_code_characters {
  display: none;
}

.user-header {
  display: none;
}