<div class="card__footer card__footer--spaces">
  <div class="row">
    <div class="columns medium-6 strong">
      <%= creation_date %>
    </div>
    <div class="columns medium-6 text-right">
      <%= link_to t("decidim.news.informations.show.view"), resource_path %>
    </div>
  </div>
</div>
