<div class="card__footer card__footer--spaces flexed-to-bottom">
  <div class="row">
    <div class="columns medium-7">
      <%= process_new_data %>
    </div>
    <div class="columns medium-5 text-right">
      <%= t(".till", ending_date: ending_date) %>
    </div>
  </div>
</div>
