<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.text_field :name %>
      </div>
      <div class="row column color_picker">
        <%= form.color_field :color %>
      </div>
      <div class="row column">
        <%= form.collection_select :file_id,
                                   Decidim::Repository::File.svgs.alphabetical,
                                   :id,
                                   :name,
                                   include_blank: true,
                                   label: 'Plik z repozytorium' %>
      </div>
      <div class="row column">
        <%= form.number_field :position %>
      </div>
    </div>
  </div>
</div>

