<%# View for PAGES COMPONENT (not static pages) %>


<main class="layout-1col cols-10" id="subcontent">
  <div>
    <%= cell "decidim/tos_page", :announcement %>

    <div class="article article--component-pages">
      <div class="article-wrapper">
        <div class="editor-content w-full">
          <%= quill_sanitize translated_attribute page.content %>
        </div>
        <div class="custom-gallery-wrapper">
          <%= render 'decidim/shared/gallery_attachments', model: page %>
        </div>
      </div>
    </div>
  </div>

  <%= cell "decidim/tos_page", :form %>
</main>
