<div class="table-scroll">
  <% @files.each_slice(4) do |slice| %>
    <div class="row" style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 8px; margin-bottom: 4px;">
      <% slice.each do |file| %>
        <%= content_tag :div,
                        class: 'select-image',
                        style: 'border: 1px solid #adadad; padding: 3px; text-align: center; cursor: pointer;',
                        data: data_for_file(file) do %>
          <% if file.image? && !file.svg? && ActiveStorage::Blob.service.exist?(file.file.blob.key) %>
            <%= image_tag(Rails.application.routes.url_helpers.rails_representation_url(
              file.thumbnail_200.processed,
              only_path: true)) %>
            <br>
          <% end %>
          <%= link_to file.file.filename,
                      defined?(show_select_buttons) ? '#' : edit_admin_file_path(file),
                      style: 'line-break: anywhere' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<% if defined?(show_select_buttons) %>
  <%= nonced_javascript_tag do %>
    var elements = document.getElementsByClassName("select-image");
    var selectImage = function() {
      var url = this.getAttribute("data-url");
      var type = this.getAttribute("data-type");

      if (type === 'image') {
        var alt = this.getAttribute("data-alt");
        var description = this.getAttribute("data-description");

        window.parent.postMessage({
          type: 'image',
          url: url,
          alt: alt,
          description: description
        },
        '*');

      } else if (type === 'video') {
        var mimetype = this.getAttribute("data-mimetype");

        window.parent.postMessage({
          type: 'video',
          url: url,
          mimetype: mimetype
          //posterUrl: 'https\:\/\/placekitten.com/500/700',
          //descriptionsTrackUrl: 'https\:\/\/raw.githubusercontent.com\/videojs\/video.js\/main\/docs\/examples\/elephantsdream\/descriptions.en.vtt'
        },
        '*');
      }

      return false;
    }
    for (var i = 0; i < elements.length; i++) {
      elements[i].addEventListener('click', selectImage, false);
    }
  <% end %>
<% end %>
