<tr data-id="<%= tag.id %>">
  <td>
    <%= tag.name %>
  </td>
  <td class="table-list__actions">
    <% if allowed_to? :update, :organization, organization: current_organization %>
      <%= icon_link_to "pencil", edit_tag_path(tag), t("actions.edit", scope: "decidim.admin_extended.tags"), class: "action-icon--edit" %>
      <%= icon_link_to "circle-x", tag, t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
    <% end %>
  </td>
</tr>
